body {
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    position: absolute;
}

.hamburger .open, .close {
    color: whitesmoke;
}

.logo a {
    color: whitesmoke;
}

.navbar a{
    color: whitesmoke;
}

.banner {
    position: relative;
}

.banner-image {
    background: url("../assets/banner.png") no-repeat left;
    padding: 100px 0;
}
.banner-image h1 {
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: whitesmoke;
    margin: 0;
    width: 100%;
}

.banner-nav {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
  
.dropbtn:hover, .selected {
    background-color: var(--color-highlight) !important;
    color: whitesmoke;
}

#corPredefinida {
    padding: 0;
}

#corPredefinida button {
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid var(--color-secondary);
}

#corPredefinida button:hover {
    background-color: var(--color-background);
}

#corPredefinida button:first-child {
    border-radius: 20px 20px 0 0;
}

#corPredefinida button:last-child {
    border-radius: 0 0 20px 20px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    color: var(--color-primary);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-content #color {
    background-color: rgb(233, 233, 233);
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    color: black;
    border: none;
    border-radius: 20px;
}
.dropdown-content .slider {
    appearance: none;
    border-radius: 20px;
}

.dropdown-content #red {
    background: linear-gradient(to right, black, red);
}
.dropdown-content #green {
    background: linear-gradient(to right, black, green);
}
.dropdown-content #blue {
    background: linear-gradient(to right, black, blue);
}
.dropdown-content #hue {
    background: linear-gradient(to right, 
        hsl(0, 100%, 50%), 
        hsl(30, 100%, 50%), 
        hsl(60, 100%, 50%), 
        hsl(90, 100%, 50%), 
        hsl(120, 100%, 50%), 
        hsl(150, 100%, 50%), 
        hsl(180, 100%, 50%), 
        hsl(210, 100%, 50%), 
        hsl(240, 100%, 50%), 
        hsl(270, 100%, 50%), 
        hsl(300, 100%, 50%), 
        hsl(330, 100%, 50%), 
        hsl(360, 100%, 50%)
    );
}
.dropdown-content #saturation {
    background: linear-gradient(to right, #808080, hsl(9, 100%, 50%));
}
.dropdown-content #lightness {
    background: linear-gradient(to right, black, hsl(9, 100%, 50%), white);
}

#corPersonalizada button.changeButton {
    background-color: var(--color-highlight);
    width: initial;
    color: whitesmoke;
    padding: 10px 20px;
    margin: 20px 10px 0 0;
    font-family: var(--font-title);
    font-weight: bolder;
    font-size: 12px;
    border: 2px solid var(--color-highlight);
    cursor: pointer;
    border-radius: 20px;
}
#corPersonalizada button.changeButton:hover {
    opacity: 0.8;
}

#corPersonalizada button.closeButton {
    background-color: transparent;
    width: initial;
    color: var(--color-highlight);
    padding: 10px 20px;
    margin-top: 20px;
    font-family: var(--font-title);
    font-weight: bolder;
    font-size: 12px;
    border: 2px solid var(--color-highlight);
    cursor: pointer;
    border-radius: 20px;
}
#corPersonalizada button.closeButton:hover {
    background-color: var(--color-highlight);
    color: whitesmoke;
}
  
.show {display:block;}

.carrossel button {
    margin: 0;
    width: 5%;
}
.carrossel img {
    margin: 0;
}
img.small {
    width: 15%;
}
img.large {
    width: 30%;
}






/************************ MOBILE AND TABLET ****************************/

@media (max-width: 900px) {
    .container {
        flex-wrap: wrap;
    }
    .container .content:first-child {
        margin: 0;
        margin-bottom: 40px;
    }
    .container .content:last-child{
        width: 100%;
    }
    .galeria {
        display: flex;
        flex-wrap: wrap;
    }
    .galeria div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .galeria img{
        width: calc(50% - 10px);
    }
    .galeria img:first-child {
        margin-right: 20px;
    }
}

/******************************* TABLET ********************************/

@media (min-width: 601px) and (max-width: 900px) {
    .card {
        width: calc(50% - 20px);
    }
}

/******************************* MOBILE ********************************/

@media (max-width: 600px) {

    .banner-image {
        padding: 100px 0 140px;
    }

    .card-container {
        padding: 30px 10px;
    }

    .card {
        width: calc(100% - 20px);
    }
    .container {
        margin: 100px 20px 40px;
    }
    .content {
        padding: 20px;
    }
    .content:last-child h2 {
        margin: 20px 0 40px;
    }
    .galeria img{
        width: 100%;
    }
    .galeria img:first-child {
        margin-right: 0;
    }
}