body {
    overflow-y: auto;
}

main {
    padding-top: 60px;
}

header {
    background-color: var(--color-primary);
}

.section-header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.section-title {
    font-family: var(--font-title);
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    color: var(--color-primary);
}

.section-button {
    font-family: var(--font-title);
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: var(--color-primary);
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid var(--color-primary);
    text-decoration: none;
}

.section-button:hover {
    background-color: var(--color-primary);
    color: whitesmoke;
    opacity: 0.6;
}

.card-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    box-sizing: border-box;
    background: whitesmoke;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 20px);
    border-radius: 20px;
}
  
.card-image {
    position: relative;
    background-color: var(--color-highlight);
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    
}

.card img {
    width: 100%;
    border-radius: 20px;
}
  
.card-save {
    font-family: var(--font-body);
    font-size: 20px;
    color: var(--color-primary);
    text-align: center;
    line-height: 20px;
    background-color: whitesmoke;
    opacity: 0.6;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
  
.card-save:hover {
    opacity: 1;
}
  
.card-title {
    font-family: var(--font-title);
    font-size: 20px;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 20px;
}

.card-button {
    display: block;
    box-sizing: border-box;
    background-color: var(--color-highlight);
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: var(--font-title);
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}
  
.card-button:hover {
    opacity: 0.6;;
}

.section-footer {
    display: flex;
}

.section-footer .section-button {
    display: none;
}



/************************ MOBILE AND TABLET ****************************/

@media (max-width: 900px) {
    .section-footer .section-button {
        display: block;
        margin: auto;
        margin-bottom: 40px;
        font-family: var(--font-title);
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        color: var(--color-primary);
        padding: 5px 20px;
        border-radius: 20px;
        border: 2px solid var(--color-primary);
        text-decoration: none;
    }
}

/******************************* TABLET ********************************/

@media (min-width: 601px) and (max-width: 900px) {
    .card {
        width: calc(50% - 20px);
    }
}

/******************************* MOBILE ********************************/

@media (max-width: 600px) {
    .card-container {
        padding: 30px 10px;
    }

    .card {
        width: calc(100% - 20px);
    }
}