@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

:root {
    --color-primary: #1C1C1C;
    --color-secondary: #878E99;
    --color-highlight: #f56e1b;
    --color-background: #e9e9e9;

    --font-title: "Major Mono Display", monospace;
    --font-body: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
  } 

.hidden {
    display: none !important;
}

.button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    font-family: var(--font-title);
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-background);
    font-family: var(--font-body);
    color: var(--color-primary);
}

header {
    position: absolute;
    display: flex;
    z-index: 2;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-title);
    font-weight: bold;
}

.hamburger {
    display: none;
    margin-left: -10px;
    text-align: center;
    width: 60px;
}

.hamburger .open, .close {
    font-size: 30px;
    color: var(--color-primary);
    text-decoration: none;
}

.hamburger .open:hover, .close:hover {
    opacity: 0.6;
}

.logo a {
    font-size: 40px;
    color: var(--color-primary);
    font-family: var(--font-title);
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
}

.logo:hover{
    scale: 1.1;
}

.navbar {
    display: absolute;
    padding: 10px;
}

.navbar a {
    line-height: 40px;
    padding: 10px 20px;
    margin: 0;
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 20px;
}

.navbar a:hover {
    background-color: var(--color-highlight);
    color: whitesmoke;
}

.navbar a.active {
    background-color: var(--color-highlight);
    color: whitesmoke;
}

.navbar a.active:hover {
    opacity: 0.6;
}



.background-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

.banner-content{
    height: 100vh;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}
.banner-content-box{
    text-align: center;
    height: auto;
    width: auto;
}

.banner-content .rotative-text{
    font-family: var(--font-title);
    color: var(--color-highlight);
    font-weight:700;
    font-size: 3rem;
    opacity: 1;
}

.banner-content .fixed-text{
    font-family: var(--font-body);
    font-weight: 400;
    letter-spacing: 1px;
    flex-direction: column;
    font-size: 30px;
    padding-top:20px ;
    font-weight:500;
    opacity: 1;
}

.social-media-links{
    box-sizing: border-box;
    height: 100vh;
    position: absolute;
    padding: 60px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.social-media{
    width: 50px;
    height: 50px;
    color: var(--color-primary);
    font-size:  30px;
    line-height: 50px;
    text-align: center;
    opacity: .6;
}
.social-media:hover{
    background-color: var(--color-highlight);
    color: whitesmoke;
    opacity: 1;
    border-radius: 50px;
}

.contact{
    display: flex;
    position: absolute;
    width: 10%;
    right: 0;
    top: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.contactpic{
    width: 50px;
    height: 50px;
    color: var(--color-primary);
    font-size:  30px;
    line-height: 50px;
    text-align: center;
    opacity: .6;
}

.contactpic:hover{
    background-color: var(--color-highlight);
    color: whitesmoke;
    opacity: 1;
    border-radius: 50px;
}


footer{
    background-color: var(--color-primary);
    color: whitesmoke;
    padding: 40px 10%;
    display: flex;
	flex-wrap: wrap;
}
.footer-col{
   width: 25%;
   padding: 0 20px;
   box-sizing: border-box;
}
footer .logo a{
    font-size: 60px;
}
.footer-col h4{
	font-size: 20px;
    font-family: var(--font-title);
    padding-bottom: 10px;
	margin: 0 0 20px;
	font-weight: bold;
	position: relative;
    border-bottom: 2px solid var(--color-highlight);
}
.footer-col ul{
	list-style: none;
    margin:0;
	padding:0;
}
.footer-col ul li a{
	line-height: 40px;
    padding: 10px 20px;
    margin: 0;
    font-family: var(--font-title);
    font-weight: bold;
	text-transform: lowercase;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20px;
}
.footer-col ul li a:hover{
	background-color: var(--color-highlight);
}

footer .social-media {
    color: whitesmoke;
}





/************************ MOBILE AND TABLET ****************************/

@media (max-width: 991px) {
    .hidden-md{
        display: none !important;
    }

    .banner-content{
        flex-direction: column;
    }

    .contact{
        display: none;
    }
    
    .social-media-links{
        width: 100%;
        bottom: 0;
        padding: 10px;
        height: auto;
        flex-direction: row;
    }

    .header-content-box{
        padding-left: 0px;
        padding-right: 0px;
    }
}

/******************************* TABLET ********************************/

@media (min-width: 768px) and (max-width: 991px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

/******************************* MOBILE ********************************/

@media (max-width: 767px) {
    .background-sm {
        background: var(--color-background) !important;
    }
    .black-sm {
        color: var(--color-primary) !important;
    }

    .hidden-sm{
        display: none !important;
    }

    .hamburger {
        display: block;
    }

    header .navbar {
        background-color: var(--color-background);
        box-sizing: border-box;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px 10%;
        text-align: center;
    }
    header .navbar a {
        background-color: whitesmoke;
        color: var(--color-primary);
        margin: 20px;
        display: block;
        border-radius: 40px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .logo {     
        width: 100%;
        text-align: center;
    }

    .close i{
        color: var(--color-primary);
    }

    .social-media-links {
        background-image: linear-gradient(to bottom, transparent, black);
    }

    .social-media {
        color: whitesmoke;
    }

    footer {
        padding: 40px 20px;
    }
    .footer-col{
        width: 100%;
        margin-bottom: 40px;
    }
}